body {
    font-family: Noto Sans Balinese;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflowX: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: 18rem;
}

@keyframes slide-in-top {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }

}

h1 {
    display: inline-block;
    font-family: Noto Sans Balinese;
    margin: 0;
    font-size: 5rem;
    transform: translateY(-100%);
    opacity: 0;
    animation-name: slide-in-top;
    animation-duration: 17s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    margin-right: 12px;

}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0.1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.dxy {
    display: inline-block;
    font-family: Noto Sans Balinese;
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
    color: #FA8072;
    transform: translateX(100%);
    animation-name: slide-in-right;
    animation-duration: 17s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


@keyframes typing {
    from {
        width: 0;
        /* Start with no text */
    }
    to {
        width: 100%;
        /* End with the full text */
    }
}

/* Blink effect for the cursor */
@keyframes blink {
    50% {
        border-color: transparent; /* Makes the cursor blink */
    }
}

.ptyping {
    font-size: 2rem;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.05em solid black; /* Simulate the cursor */
    animation: typing 8s 0.8s infinite normal both, blink 0.75s step-end infinite; /* Typing animation + cursor blink */
}

.coursebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  align-items: center;
  width: 21rem;
  height: 15rem;
  box-shadow: 0 0 12px 3px hsla(0, 0%, 0%, 0.5);
  border-radius: 8px;
  padding: 4px;
  margin-right: 10rem;
}

.course-list {
    display: block;
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

.course {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registration {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
